*, *::after, *::before {box-sizing: border-box;}

body {
    margin: 0;
    min-height: 100vh;
    background-color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.938rem;
    display: flex;
    justify-content: center;
    align-items: center;
       
}



.container {
    
    max-width: 60rem;
    display: flex;
    margin-inline: 2rem;
       
}


.name {
    color :hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 3.125rem;
    text-transform: uppercase;
    padding-block: 2rem;
    margin: 0;
}

.info {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    line-height: 2rem;
    padding: 0;
    padding-bottom: 4rem;
    margin: 0;
    
}

button {
    background-color: white;
    border: none;
    padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: 100px;
    }



.Sedans > button:hover {
    background-color:  hsl(31, 77%, 52%);
    border-color: white;
    color: white;
    cursor: pointer;
}

.Sedans > button:focus {
    background-color:  hsl(31, 77%, 52%);
    border-color: white;
    color: white;
    outline: none;
}



.Sedans > .btn {
    color: hsl(31, 77%, 52%);
    border-style: solid;
    border-color: white;
    font-family: 'Lexend Deca', sans-serif;
    font-size: medium;
}



.SUVs > .btn {
    color: hsl(184, 100%, 22%);
    border-style: solid;
    border-color: white;
    font-family: 'Lexend Deca', sans-serif;
    font-size: medium;
}

.SUVs > button:hover {
    background-color:  hsl(184, 100%, 22%);
    border-color: white;
    color: white;
    cursor: pointer;
}

.SUVs > button:focus {
    background-color:  hsl(184, 100%, 22%);
    border-color: white;
    color: white;
    outline: none;
}



.Luxury > .btn {
    color: hsl(179, 100%, 13%);
    border-style: solid;
    border-color: white;
    font-family: 'Lexend Deca', sans-serif;
    font-size: medium;
}

.Luxury > button:hover {
    background-color:  hsl(179, 100%, 13%);
    border-color: white;
    color: white;
    cursor: pointer;
}

.Luxury > button:focus {
    background-color:  hsl(179, 100%, 13%);
    border-color: white;
    color: white;
    outline: none;
}


.Sedans {
    background-color: hsl(31, 77%, 52%);
    padding: 3.5rem;
    border-radius: 10px 0 0 10px;
}


.SUVs {
    background-color: hsl(184, 100%, 22%);
    padding: 3.5rem;
}

.Luxury {
    background-color: hsl(179, 100%, 13%);
    padding: 3.5rem;
    border-radius: 0 10px 10px 0;
}

@media (max-width : 810px) {

    .container {
        display: flex;
        flex-direction: column;
        margin-block: 2rem;


        max-width: 25rem;
        margin-inline: 1rem;
    }

    .name {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .info {

        line-height: 1.5rem;
        padding-bottom:1rem;
}

    .Sedans {
        border-radius: 8px 8px 0 0;
        
    }

    .Luxury {
        border-radius: 0 0 8px 8px;
    }

   

}